.avatar {
  height: 100px;
  display: block;
}
.options {
  padding: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  #Background {
    margin-top: 10px;
  }
  #Border,
  #Margin,
  label {
    width: 200px;
    padding-top: 10px;
  }
}
